@import "tailwindcss";

html,
body {
  background: #000;
  color: white;
  overflow-x: hidden;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-line {
  font-family: var(--font-line-seed);
}